<%= form_with(model: [@contact, address]) do |form| %>
  <% if address.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="zipcode">
    <div>
      <%= form.label :zipcode, style: "display: block" %>
      <%= form.text_field :zipcode, { data: { action: "input->zipcode#update" } } %>
      <p id="zipcode_error_message"></p>
    </div>
  </div>

  <div>
    <%= form.label :street, style: "display: block" %>
    <%= form.text_field :street %>
  </div>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.text_field :number %>
  </div>

  <div>
    <%= form.label :neighborhood, style: "display: block" %>
    <%= form.text_field :neighborhood %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.select :state, CS.states(:br).invert, { prompt: "Select a state" } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
